*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
}
nav{
    background-color: #282829;
    padding: 15px 0;
}
nav .container{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 1280px
    margin-inline auto
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
font-size: 18px;
}

.first_title{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 88px;
    line-height: 93px;
text-align: center;
color: black;
margin-top: 110px;
}

.cards_wrapper{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.card{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.img_wrapper{
    width: 100%;
}

.img_wrapper img{
width: 100%;
border-radius: 20px;
}

.card_title{
    margin-bottom: 10px;
}

footer{
    background-color: #282829;
    padding: 15px 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
}